body{
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-wrapper{
	flex: 1;
}

.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 767px) {
    	display: block;
    }
}



/*--- Estilos para el navbar ---*/
.navbar{
	z-index: 1050;
	display: none;
	.navbar-brand{
		padding: 13px 15px;
		img{
			max-width: 154px;
		}
	}

}

/*--- Estilos para el video background ---*/
.video-background {
  background: #000;
  height: 100vh;
  position: relative;
  z-index: -99;
  margin-top: -#{$navbar-height};

  @media (max-width: 767px) {
  	height: calc(100vh - 55px);
  }
}
.video-foreground,
.video-background iframe {
  width: 100%;
  height: 100%;
}


/*--- Estilos para el hero ---*/
.hero{
	height: 100%;
	background-image: url('/img/tablet.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	.hero-box{
		height: 100%;
		.center-center{
			color: #fff;
			width: 100%;
			img{
				margin: auto;
				max-width: 391px;
				position: relative;
				top: -35px;
			}
			.hero-title{
				font-size: 52px;
				font-weight: bold;
				margin-top: 0px;
			}
		}
		@media (max-width: 767px) {
			height: calc(100vh - 50px);
			.center-center{
				img{
					max-width: 70%;
				}
				.hero-title{
					font-size: 30px;
				}
			}
		}
	}
	.hero-icon{
	    position: absolute;
	    bottom: 30px;
	    left: 50%;
	    transform: translateX(-50%);
		color: #fff;
	    font-size: 37px;
	    text-align: center;
	    &.animated {
		    -webkit-animation-duration: 1.5s;
		    animation-duration: 1.5s;
		    -webkit-animation-fill-mode: both;
		    animation-fill-mode: both;
		}
	}
}

/*@media (orientation: landscape) {
	.hero{
		.hero-box{
			.center-center{
				img{
					max-width: 19%;
				}
				.hero-title{
					margin-top: 0;
				}
			}
		}
	}
}
*/
/*--- Estilos para section steps ---*/
.title-section{
	text-align: center;
	font-size: 60px;
	@media (max-width: 767px) {
		font-size: 40px;
	}
}

.steps{
	background-color: #f9f9f9;
	padding: 70px 0;
	.step-info{
		font-size: 20px;
		margin-top: 20px;
	}

	.circle-number{
		height: 90px;
		width: 90px;
		background-color: $brand-success;
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		margin: 30px auto 0;
		.number{
			font-size: 50px;
			position: absolute;
			top: 52%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #fff;
		}
	}
}

/*--- Estilos para la pastilla de imagen con texto ---*/
.info-box{
	margin-top: 50px;
	margin-bottom: 50px;
	.info-box-text{
	    font-size: 18px;
    	line-height: 1.6;
    	background-color: $brand-primary;
    	color: #fff;
    	padding: 20px;
    	box-shadow: 0 0 8px rgba(0,0,0,0.6);
		&.left{
			margin-right: -20%;
		}
		&.right{
			margin-left: -20%;
		}
		@media (max-width: 767px) {
			margin-top: 30px;
			&.left, &.right{
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}
.bg-image{
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	@media (max-width: 767px) {
		height: 300px;
	}
}


/*--- Estilos para el menu ---*/
.nav-tabs{
	text-align: center;
	> li{
		float: none;
		display: inline-block;
		cursor: pointer;
		background-color: transparent;
		
		>a {
			font-size: 20px;
		}

		&.active, &:hover, &:focus{
			> a{
				background-color: transparent;
				&:hover, &:focus{
					background-color: transparent;
				}
			}
		}
	}
}

.menu{
	padding: 50px 0;
	background-color: #f9f9f9; 
}

.tab-pane	{
	.flex-grid{
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
		
	}
}

.menu-item {
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    width: 370px;
    /*height: 100%;    */
    background-color: #fff;
    margin-top: 20px;
    margin-right: 20px;
    text-align: left;
    @media(max-width: 767px){
    	width: 100%;
    	margin-right: 0;
    }

  
    // Menu Item Vertical
    // ======================================================================
    &.vertical{ 
 
        .icon-info{
            position:absolute;
            right: 14px;
            top: 14px;
            color: rgba(51,51,51,0.6);
            font-size: 24px;
            &.gray8{
                color: #999;
            }
        }  
        .icon-tag{
            position: absolute;
            top: -3px;
            left: -30px;
            height: 35px;
            background: $brand-primary;
            width: 90px;
            transform: rotate(-45deg);
        }

        // Estilos para el leaf icon
        .icon-bowl{
            position: absolute;
            top: 8px;
            left: 10px;
            color: #fff;
            font-size: 21px;
            transform: rotate(31deg);
        }

        // Estilos para la imagen del producto
        .box-image-item{
            height: 247px;
            overflow: hidden;
            background-color: #cccfd2;
            background-size: cover;
		    background-position: center center;
		    background-repeat: no-repeat;
            .img-responsive{
                margin: auto;
            }            
        }


        // Info Bowl
        // ======================================================================

        .info-bowl{
            margin-left: 0;
            padding: 22px 20px;
           .bowl-title{
                width: 100%;
                color: $brand-primary;
                font-size: 30px;
                margin: 0;
            }
            .ingredients-bowl{
                font-size: 16px;
                color: #656565;
                margin-top: 12px;
                clear: both;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;
                min-height: 88px;
            }
            .bowl-proteins{
               color: #656565;
            }     
        }  
    }
}



/*---   Estilos para el mapa ---*/
#map{
	height: 450px;
	.gmnoprint{
		img{
			max-width: 20px !important;
		}
	}
}

/*--- Footer ---*/

footer{
	background-color: #f2f2f2;
	padding: 40px 0;
	.img-logo-footer{
		max-width: 120px;
	}
	.info-footer{
		font-size: 12px;
		margin-bottom: 0;
	}

	.links-footer{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;		
		.links-column{
			a{
				display: block;
				&:not(.btn){
					color: #2e3033;
				}
			}
		}		
	}
}

@media (max-width: 991px) {
	footer{
		.links-footer{
			margin-top: 20px;
		}		
	}
}

@media (max-width: 767px) {
	footer{
		.links-footer{
			display: block;
			margin-top: 20px;
			.links-column{
				.btn-footer{
					display: inline-block;
				}
			}
		}
		.title{
			margin-top: 20px;
		}
		.btn-footer{
			margin-top: 20px;
		}
	}
}

/*--- Estilos para el modal contacto ---*/
#modal-contacto{
	form{
		margin-bottom: 0;
		.modal-body{
			padding: 30px 30px 0;
			.form-group{
				&.no-margin{
					margin-bottom: 0;
				}
			}			
		}
		.modal-footer{
			padding: 15px 20px 30px;
			text-align: center;
		}
	}
}