body{
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-wrapper{
	flex: 1;
}

.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 767px) {
    	display: block;
    }
}

/*--- Estilos para el navbar ---*/
.navbar{

}

/*--- Estilos para el video background ---*/
.video-background {
  background: #000;
  height: 100vh;
  position: relative;
  z-index: -99;
  margin-top: -#{$navbar-height};

  @media (max-width: 767px) {
  	height: calc(100vh - 55px);
  }
}
.video-foreground,
.video-background iframe {
  width: 100%;
  height: 100%;
}

/*--- Estilos para section steps ---*/
.title-section{
	text-align: center;
	font-size: 60px;
	@media (max-width: 767px) {
		font-size: 42px;
	}
}

.steps{
	background-color: #f9f9f9;
	padding: 70px 0;
	.step-info{
		font-size: 20px;
		margin-top: 20px;
	}

	.circle-number{
		height: 90px;
		width: 90px;
		background-color: $brand-success;
		position: relative;
		border-radius: 50%;
		overflow: hidden;
		margin: 30px auto 0;
		.number{
			font-size: 50px;
			position: absolute;
			top: 52%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #fff;
		}
	}
}

/*--- Estilos para la pastilla de imagen con texto ---*/
.info-box{
	margin-top: 50px;
	margin-bottom: 50px;
	.info-box-text{
	    font-size: 18px;
    	line-height: 1.6;
		@media (max-width: 767px) {
			margin-top: 30px;
		}
	}
}
.bg-image{
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


/*--- Estilos para el menu ---*/
.nav-tabs{
	text-align: center;
	> li{
		float: none;
		display: inline-block;
		cursor: pointer;
		background-color: transparent;
		
		>a {
			font-size: 20px;
		}

		&.active, &:hover, &:focus{
			> a{
				background-color: transparent;
				&:hover, &:focus{
					background-color: transparent;
				}
			}
		}
	}
}

.menu{
	padding: 50px 0;
	background-color: #f9f9f9; 
}

.tab-pane	{
	.flex-grid{
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
		
	}
}

.menu-item {
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    width: 370px;
    /*height: 100%;    */
    background-color: #fff;
    margin-top: 20px;
    margin-right: 20px;
    text-align: left;
    @media(max-width: 767px){
    	width: 100%;
    	margin-right: 0;
    }

  
    // Menu Item Vertical
    // ======================================================================
    &.vertical{ 
 
        .icon-info{
            position:absolute;
            right: 14px;
            top: 14px;
            color: rgba(51,51,51,0.6);
            font-size: 24px;
            &.gray8{
                color: #999;
            }
        }  
        .icon-tag{
            position: absolute;
            top: -3px;
            left: -30px;
            height: 35px;
            background: $brand-primary;
            width: 90px;
            transform: rotate(-45deg);
        }

        // Estilos para el leaf icon
        .icon-bowl{
            position: absolute;
            top: 8px;
            left: 10px;
            color: #fff;
            font-size: 21px;
            transform: rotate(31deg);
        }

        // Estilos para la imagen del producto
        .box-image-item{
            height: 247px;
            overflow: hidden;
            background-color: #cccfd2;
            background-size: cover;
		    background-position: center center;
		    background-repeat: no-repeat;
            .img-responsive{
                margin: auto;
            }            
        }


        // Info Bowl
        // ======================================================================

        .info-bowl{
            margin-left: 0;
            padding: 22px 20px;
           .bowl-title{
                width: 100%;
                color: $brand-primary;
                font-size: 30px;
                margin: 0;
            }
            .ingredients-bowl{
                font-size: 16px;
                color: #656565;
                margin-top: 12px;
                clear: both;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                overflow: hidden;
                min-height: 88px;
            }
            .bowl-proteins{
               color: #656565;
            }     
        }  
    }
}



/*--- Footer ---*/
footer{
	width: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 15px;
}