body{
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-wrapper{
	flex: 1;
}

.row-eq-height{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 767px) {
    	display: block;
    }
}


/*--- Estilos para el video background ---*/
.video-background {
  background: #000;
  height: calc(100vh - #{$navbar-height});
  position: relative;
  z-index: -99;

  @media (max-width: 767px) {
  	height: calc(100vh - #{$navbar-height} - 55px);
  }
}
.video-foreground,
.video-background iframe {
  width: 100%;
  height: 100%;
}


/*--- Estilos para la pastilla de imagen con texto ---*/
.info-box{
	padding: 50px 0;
	@media (max-width: 767px) {
		padding: 20px 0;
	}
}
.bg-image{
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


/*--- Estilos para el menu ---*/
.nav-tabs{
	text-align: center;
	> li{
		float: none;
		display: inline-block;
		>a {
			font-size: 20px;
		}
	}
}



/*--- Footer ---*/
footer{
	width: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 15px;
}